body {
    font-family: "Nunito", sans-serif;
}

.headingGroup h1 {
    font-size: 2.25rem;
}

.header_text {
    color: red;
}

.content {
    margin-bottom: 60px;
}



p {
    line-height: 2;
}

.content:first-child {
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .headingGroup h1 {
        font-size: 1.75rem;
    }
    
}

@media (max-width: 1100px) {
    .headingGroup h1 {
        font-size: 1.5rem;
    }

    
    

    
}

@media (max-width:992px) {
    #yellow_audi {
        order: 2;
    }

    #v_10 {
        order: 1;
    }
    
}





